@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Archivo+Black|Bowlby+One+SC|Shadows+Into+Light&display=swap');
/* 
h1: selector de etiqueta 
*/

header{
    width: 100%;
    height: 15vh; //150vh
    background: #DBDCD8;
    position: relative;
}

*{
    margin: 0px;
    padding: 0px;
}

#titulo {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    text-align: left;
    font-weight: bolder;
    background:#DBDCD8;
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0px 250px;

}
#tituloDos{
    color: #B2E11F;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bolder;
    background:#DBDCD8;
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translateY(50%);
    padding: 0px 20px;
}

//Inician los estilos de los artículos

#divisionArticulos{
    background:#B2E11F;
    width: 75%;
    height: 90vh;
    margin: 5px 5px;
    float: left;

}
// article{
//     background: #B2E11F;
//     margin-top: 10px;
// }

h3{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.top{
    text-align: justify;
    padding: 10px 10px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin-top: 10px;
    width: 45%;
}
.right{
    text-align: justify;
    padding: 10px 15px;
    width: 30%;
    float: left;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
.bottom{
    text-align: justify;
    padding: 10px 10px;
    font-family: 'Libre Baskerville', serif;
    float: right;
    width: 25%;
    color: white;
    margin-top: 10px;
}

aside{
    background: white;
    width: 24%;
//    color: darkred;
    margin-top: 5px;
    float: left;
    height: 90vh;
}

img{
    width: 20vw;
    height: 20vh;
    text-align: center;
    float: right;
}

.publicidad{
    width: 23.7vw;
    height: 25vh;
    background: #B2E11F;

}
.publicidadDos{
    
    width: 23.7vw;
    height: 45vh;
    background: #DBDCD8;
}



// footer{
//     background: #B2E11F;
//     clear: both;
//     color: black;
//     height: 8vh;
//     text-align: center;
// }
