@import url('https://fonts.googleapis.com/css?family=Anton|Rubik+Mono+One|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:700|Bowlby+One+SC|Josefin+Sans:700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background: #CFD1C6;
    width: calc(100%-10px);
    height: 25vh;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#titulo {
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-size: 50px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translateY(50%);
    right: 30%;
}

.titulo-2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #79C426;
}

#divisionArticulos {
    background: #79C426;
    width: 80%;
    height: calc(75vh - 15px);
    margin: 5px 5px;
    float: left;
}

article {
    margin: 5px 5px;
    width: calc(40vw - 20px);
    height: 20vh;
    float: left;
    color: white;
}

h3 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.parrafoArticulo {
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    
}

#articulo2 {
    height: calc(55vh - 30px);
    width: 25vw;
}

img {
    width: calc(55vw - 20px);
    height: 45vh;
    float: left;
}

aside {
    background: #79C426;
    width: calc(20% - 15px)!important;
    height: calc(60vh - 10px);
    margin: 5px 5px 5px 0px;
    float: left;
}

#publicidad1 {
    background: #79C426;
    height: 20vh;
}

#publicidad2 {
    background: #CFD1C6;
    height: calc(40vh - 10px);
}
h2{
    color:black;
    font-family: 'Shadows Into Light', cursive;
    float: right;
}