body{
    background: yellow;
}

.pelota{
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 97;
}

@-webkit-keyframes example {
    0%   {background-color:none; left:0px; top:0px;}
    25%  {background-color:none; left:200px; top:0px;}
    50%  {background-color:none; left:200px; top:800px;}
    60%  {background-color:none; right:200px; top:0px;}
    75%  {background-color:none; left:0px; top:200px;}
    100% {background-color:none; left:0px; top:0px;}
  }

  @keyframes example {
    0%   {background-color:none; left:0px; top:0px;}
    25%  {background-color:none; left:200px; top:0px;}
    50%  {background-color:none; left:200px; top:800px;}
    60%  {background-color:none; right:200px; top:0px;}
    75%  {background-color:none; left:0px; top:200px;}
    100% {background-color:none; left:0px; top:0px;}
}
