body{
    margin: 0;
    padding: 0;
}

section{
    width: 100vw;
    height: 100vh;
    background: black;
}

section::before{ //elemento tipo bloque que se genera a traves de una raíz
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top,#f00,#BE49FC,#0f0,#0ff,#ff0, #F6AC8A);
    mix-blend-mode: color;
}

h1{
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    // background: gray;
    transform: translateY(-50%);
    text-align: center;
    font-family: sans-serif;
    font-size: 5em;
}

video{
    object-fit: cover;
}
h1 span{
    display: inline-block;
    opacity: 0;
    animation: animate 5s forwards;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
}

h1 span:nth-child(1){
    animation-delay: .3s;
}
h1 span:nth-child(2){
    animation-delay: .3s;
}
h1 span:nth-child(3){
    animation-delay: .3s;
}
h1 span:nth-child(4){
    animation-delay: .3s;
}
h1 span:nth-child(5){
    animation-delay: .3s;
}
h1 span:nth-child(6){
    animation-delay: .3s;
}
h1 span:nth-child(7){
    animation-delay: .3s;
}
h1 span:nth-child(8){
    animation-delay: .3s;
}
h1 span:nth-child(9){
    animation-delay: .3s;
}