body{
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    // background: coral;
    position: relative;
    text-transform: uppercase;
    font-family: consola;
    letter-spacing: 0.1em;
    font-size: 10em;
    text-align: center;
}

h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#6DCD00, #6DCD00, #3B7E00, #6DCD00, #3B7E00, #6DCD00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-right: 10px solid #F2EDE7;
    animation: type 7s steps(1) forwards infinite;
}

@keyframes type{
    0%{
        width: 0%;
    }
    11%{
        width: 10%;
    }
    22%{
        width: 23%;
    }
    33%{
        width: 34%;
    }
    44%{
        width: 44%;
    }
    55%{
        width: 55%;
    }
    66%{
        width: 66%;
    }
    77%{
        width: 77%;
    }
    88%{
        width: 88%;
    }
    95%{
        width: 100%;
    }
    100%{
        width: 99%;
    }
}